.content{
    width: 500px;
    height: 300px;
    // border: 2px solid red;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-around;
    margin: 200px auto;
}
.list{
    width: 500px;
    margin: 0 auto;
}
.item{
    // margin-top: 20px;
}
.button{
    width: 150px;
    margin: 20px auto
}